@import "../../sassStyles/globals";

.primary_QuantityInput{
    display: inline-grid;
    grid-template-columns: 2rem 2rem 2rem;
    grid-template-rows: 2.1rem;
    align-content: center;
    justify-content: center;
    background-color: $primary-color;
    border-radius: 6px;
    width: 6rem;
    height: 2.1rem;
    border-radius: 4px;
    &_decrease{
        display: inline-block;
        align-self: center;
    justify-self: center;
    cursor: pointer;
        &_icon{
            height: 1.5rem;
            width: 1.5rem;
            color: $color-white;
        }
    }

    &_value{
        align-self: center;
        justify-self: center;
        display: inline-block;
        text-align: center;
        border: none;
        font-size: 1.2rem;
        color: $color-white;
        
    }

    &_increase{
        display: inline-block;
        align-self: center;
        justify-self: center;
        cursor: pointer;
        &_icon{
            height: 1.5rem;
            width: 1.5rem;
            color: $color-white;
        }
    }

}   

