.named-separator-header {
    transform: skewX(-20deg); 
}

.named-separator-header div {
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    height: auto;
    width: max-content;
    padding: 1rem 0.8rem 0.1rem 0.8rem;
    margin-left: 0.5rem;
    & > p {
        text-transform: uppercase;
        transform: skewX(20deg); 
    }
}

.named-separator-border{
    height: 0.1rem;
}

