@import "../../sassStyles/globals";
@import "~bootstrap/scss/bootstrap";

.primary_carousel{
    position:relative;
    background-color: $color-black;  
    font-weight: 700;
    &_item{
        font-weight: 700;
        cursor: pointer;
        width: 100%;
        height: 100%;
        &_img{
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

}
