@import "../../sassStyles/globals";

.primary_footer{
    background-color: $primary-color;
    color: $color-white;
    padding: 5% 10%;
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows:  max-content;
    background-color: black;
    column-gap: 4rem;
    row-gap: 2rem;
    &_description{
       align-items: center;
       
    }
    &_company{
        line-height: 2rem;
        cursor: pointer;
        align-items: center;
    }
    &_contact{
        line-height: 2rem;
        cursor: pointer;
        align-items: center;
    }
}