// This partial contains styling that overrides global elements, such as the #root or body elements.
// Primary 6B206A
// Secondary C75080
// Third F59159
// Fourth FFEA66

$primary-color: #6B206A;
$secondary-color: #C75080;
$third-color: #F59159;
$fourth-color: #FFEA66;
$page-background-color: #E5E5E5;