// This partial contains styling that overrides global elements, such as the #root or body elements.
// Primary 6B206A
// Secondary C75080
// Third F59159
// Fourth FFEA66

$primary-color: #C75080;


$color-white:#ffffff;
$color-white-rgb:#{hexToRGB(#ffffff)};
$color-black: #000000;
$color-yellow: #FFFF00;
$color-yellow-dark: #CCCC00;




$secondary-color: #6B206A;
$third-color: #F59159;
$fourth-color: #FFEA66;
$page-background-color: #E5E5E5;